.input__wrapper{
    width: 100%;
    padding:15px 10px;
    position: relative;
    border-radius: 5px;
    background-color: #25273C;
    display: flex;
}
.input__wrapper input{
    background-color: transparent;
    border:none;
    color:#EBE1F6;
    min-height: 25px;
    font-size:22px;
}
.input__wrapper input:focus,.input__wrapper input:active,.input__wrapper input:focus-visible{
    border:none;
    outline:none;
}
.input__wrapper .fake__checkbox{
    display: flex;
    margin: 0 25px 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: rgb(0,141,215);
    background: linear-gradient(120deg, rgba(0,141,215,1) 0%, rgba(197,10,252,1) 100%);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    border:none;
    cursor: pointer;
}
.input__wrapper .fake__checkbox img{
    z-index: 10;
    opacity:0;
    transition: all 0.2s ease;
}
.input__wrapper .fake__checkbox::after{
    position: absolute;
    content:"";
    width: 26px;
    height: 26px;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.2s ease;
    background:#25273C;
}
.input__wrapper .fake__checkbox::before{
    position: absolute;
    content:"";
    height: 28px;
    width: 28px;
    top:0;
    left:0;
    opacity:1;
    transition: all 0.2s ease;
    border-radius: 50%;
    background-color: dimgray;
    z-index: 1;
}
.fake__checkbox:hover img{
    opacity:1;
}
.input__wrapper:hover .fake__checkbox::before{
    opacity:0;
}

/* .single-task.completed .fake__checkbox img{
    opacity: 1;
    z-index: 10;
}
.single-task.completed .fake__checkbox::before,
.single-task.completed .fake__checkbox::after{
    opacity:0;
} */

.fake__checkbox.completed{
    background: rgb(0,141,215);
    background: linear-gradient(120deg, rgba(0,141,215,1) 0%, rgba(197,10,252,1) 100%);
}
.fake__checkbox img{
    width: 14px;
    height: 14px;

}
.tasks__list{
    list-style-type: none;
    padding:0;
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 10px 20px 1px rgb(35 35 35);
}

.tasks__list li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tasks__list li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color:transparent;
    background-color: #25273C;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}
.layout--wrapper.light .input__wrapper{
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px -15px rgb(200, 200, 200);
}

.layout--wrapper.light .single-task{
    background-color: #ffffff;
    border-bottom:1px solid rgb(220, 220, 220);
    color:black;
}
.layout--wrapper.light .single-task .task{
    color:black;
}
.layout--wrapper.light .input__wrapper .fake__checkbox::after,
.layout--wrapper.light .tasks__list li:last-child{
    background-color:#ffffff;
}

.layout--wrapper.light .tasks__list{
    box-shadow: 0px 10px 20px 1px rgb(200, 200, 200);
}
.task__list--options{
    position: relative;
}
.filters button,.clear{
    border: none;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    color:#999999;
    font-weight:bold;
}
.filters button.active{
    color:#4A78D1;
}
.counter{
    font-size:12px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .filters{
        position: absolute;
        bottom:-70px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #25273C;
        padding:15px;
        left:0;
        border-radius: 5px;
    }
    .filters button{
        font-size:17px;
        padding: 0 10px;
    }
    .input__wrapper input{
        font-size:18px;
       }
    .layout--wrapper.light .filters{
        background-color: #FFFFFF;
        box-shadow: 0px 0px 50px -3px rgb(163 163 163);
    }
}